## Window functions

- operate of a set of data, after the filtering and the grouping is done, like maybe sum
- for each row of the result of a query the window functions looks forward the size of window to calculate some aggregation
- defined using the over clause
- allowed only in the set and order by clauses, to get around this we can use CTEs or subqueries

### types of window functions

1. ranking functions - adds a rank, or divides into a buckets
2. window aggregates - to calculate some summary
3. accumulating  aggregates - moving calculations, rolling window, prefix sum
4. analytic functions - scalar functions

### ranking functions

1. ROW\_NUMBER
2. RANK
3. DENSE\_RANK
4. NTILE - divides a set of rows into buckets

defining the window  
OVER clause defines the window for the ranking functions 

syntax of OVER with order by

> SELECT \[\<COL1\>,\<COL2\>\]\[\<COL3\>,\] RANK() OVER(ORDER BY \<COL1\>\[,\<COL2\]) AS RankNum  
> <span style="color: var(--vscode-foreground);">from &lt;table&gt;;</span>
> 
> SELECT \[\<COL1\>,\<COL2\>\]\[\<COL3\>,\] ROW\_NUMBER() OVER(ORDER BY \<COL1\>\[,\<COL2\]) AS RankNum  
> <span style="color: var(--vscode-foreground);">from &lt;table&gt;;</span>

In this case the over clause specifies the order or the rows which the determines how the window function is applied  
the order by inside the over clause has nothing to do with the order by used to sort the data

the over clause must always contain an order by expression when working with the ranking functions (RANK, ROW\_NUMBER, DENSE\_RANK)  

these functions differ in how they resolve ties and duplicates, if the column we are ordering by is unique then the results are the same

In [ ]:
SELECT CustomerID,
    ROW_NUMBER() OVER(ORDER BY CustomerID) AS ROWNUM,
    RANK() OVER(ORDER BY CustomerID) AS RANK,
    DENSE_RANK() OVER(ORDER BY CustomerID) AS DENSERANK,
    ROW_NUMBER() OVER(ORDER BY CustomerID DESC) AS DescRowNumber
FROM Sales.Customer
WHERE CustomerID BETWEEN 11000 AND 11200
ORDER BY CustomerID;

SELECT CustomerID,
    ROW_NUMBER() OVER(ORDER BY CustomerID) AS ROWNUM,
    RANK() OVER(ORDER BY CustomerID) AS RANK,
    DENSE_RANK() OVER(ORDER BY CustomerID) AS DENSERANK,
    ROW_NUMBER() OVER(ORDER BY CustomerID DESC) AS DescRowNumber
FROM Sales.SalesOrderHeader
WHERE CustomerID BETWEEN 11000 AND 11200
ORDER BY CustomerID;

NTILE function

> SELECT \<COL1\>, NTILE(\<NUMBER OF BUCKETS\>) OVER(ORDER BY \<COL3\>)  
> <span style="color: var(--vscode-foreground);">FROM &lt;TABLE&gt;</span>

it takes a required arguments and returns that many buckets

In [5]:
SELECT SP.FirstName,SP.LastName,
    SUM(H.TotalDue) AS TotalSales,
    NTILE(4) OVER(ORDER BY SUM(H.TotalDue)) AS BUCKET
FROM Sales.vSalesPerson AS SP
JOIN Sales.SalesOrderHeader AS H 
ON SP.BusinessEntityID=H.SalesPersonID
WHERE H.OrderDate>='2013-01-01' AND H.OrderDate <'2014-01-01'
GROUP BY SP.FirstName, SP.LastName
ORDER BY TotalSales;

FirstName,LastName,TotalSales,BUCKET
Syed,Abbas,171606.5918,1
Stephen,Jiang,485880.642,1
Amy,Alberts,632002.5989,1
Lynn,Tsoflias,946893.316,1
Pamela,Ansman-Wolfe,1087554.1318,1
Rachel,Valdez,1407493.9446,2
Tete,Mensa-Annan,1433786.4111,2
David,Campbell,1525864.3155,2
Garrett,Vargas,1567161.7302,2
José,Saraiva,2112546.1213,3
Tsvi,Reiter,2467043.2031,3
Shu,Ito,2695240.5743,3
Ranjit,Varkey Chudukatil,2987333.7048,3
Jillian,Carson,3827980.3627,4
Michael,Blythe,4490942.2011,4
Jae,Pak,4630339.2509,4
Linda,Mitchell,4637217.833,4